body{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;

    h1{
        color: red;
    }
    
    h6{
        font-size: 0.75rem !important;
        display: inline-block !important;
    }
}